.ScrollBar___1sQ2U { overflow: hidden; position: relative; }
.iScrollVerticalScrollbar { position: absolute !important; z-index: 999 !important; width: 4px !important; bottom: 2px !important; top: 2px !important; right: 0px !important; overflow: hidden !important; }
.iScrollIndicator { position: absolute !important; width: 4px !important; background: rgb(76, 79, 84) !important; border-width: medium !important; border-style: none !important; border-color: currentcolor !important; border-image: none !important; }
.list___3QSa_ { overflow: hidden; }
@keyframes wrapRotate___32gM4 { 
  0% { transform: rotate(3deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(-3deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(3deg); }
  50% { transform: rotate(0deg); }
  60% { transform: rotate(-3deg); }
  70% { transform: rotate(0deg); }
  80% { transform: rotate(3deg); }
  90% { transform: rotate(0deg); }
  95% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
@keyframes eqRotate___AcVp1 { 
  0% { transform: rotate(10deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(10deg); }
  5% { transform: rotate(0deg); }
  60% { transform: rotate(-10deg); }
  70% { transform: rotate(0deg); }
  80% { transform: rotate(10deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-10deg); }
}
.wrapAnimation___3XXOS { animation: 1s ease-in-out 0.01s 1 normal forwards running wrapRotate___32gM4; }
